.connecting {
    opacity: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    color: white;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.connecting h1 {
    font-size: 60px;
    position: absolute;
    top: calc(30%);
    left: calc(50% - 175px);
    opacity: 0.9;
}

.connecting.in {
    visibility: visible;
    opacity: 0.9;
}