.quest-marker {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
    position: relative;
}

.quest-marker.quest-in-progress {
    border: 2px solid #000010;

}

.quest-marker.quest-in-progress .quest-number,
.quest-marker.quest-in-progress .quest-players {
    font-weight: 600;
}

.quest-number {
    position: absolute;
    top: 18px;
    left: 22px;
    font-weight: 500;
}

.quest-players {
    position: absolute;
    top: 36px;
    left: 36px;
    font-size: 46px;
    font-weight: 500;
}